<ion-header>
    <ion-toolbar>
        <div class="header-row" fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex fxFlexAlign="center">
                RESTOREVIEWS <span>ADMIN</span>
            </div>
            <div fxFlexAlign="flex-end">
                <button mat-button (click)="register = !register">
                    <span *ngIf="register">LOG IN</span>
                    <span *ngIf="!register">REGISTER</span>
                </button>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-login fxFlex *ngIf="!register" (register)="register = true"></app-login>
    <app-register fxFlex *ngIf="register" (login)="register = false"></app-register>
</ion-content>
