<ion-tabs>

    <ion-tab-bar slot="top">
        <div fxFlex="row" fxLayout="space-between" class="header-row">
            <div fxFlex fxLayoutAlign="flex-start" fxFlexAlign="center">RESTOREVIEWS  {{getRole()}}</div>
            <div fxFlex fxLayoutAlign="center">
                <div *ngFor="let a of links">
                    <ion-tab-button *ngIf="checkRole(a)" tab="{{a.page}}">
                        <ion-icon name="{{a.icon}}"></ion-icon>
                        <ion-label>{{a.name}}</ion-label>
                    </ion-tab-button>
                </div>

            </div>
            <div fxFlex fxLayoutAlign="flex-end">
                <button mat-button (click)="logOut()">LOG OUT</button>
            </div>
        </div>
    </ion-tab-bar>

</ion-tabs>
