<ion-content>
    <div class="page-header" fxFlex="row" fxLayout="space-between">
        <div fxFlex fxLayoutAlign="flex-start center" class="page-title">RESTOS</div>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
        <!-- Name Column -->
        <ng-container matColumnDef="resto">
            <td mat-cell *matCellDef="let element" class="name">
                <div class="resto-group">
                    <div class="resto-title">{{element.name}}</div>
                    <div class="resto-desc">{{element.description}}</div>
                </div>
            </td>
        </ng-container>

        <!-- Avg Rating Column -->
        <ng-container matColumnDef="avg_rating">
            <td mat-cell *matCellDef="let element" class="show">
                <div class="ion-text-center">
                    <ngx-input-star-rating text-center disabled="true"
                                           [value]="element.avg_rating"></ngx-input-star-rating>
                    <div class="resto-desc" class="ion-text-center">Avg Rating</div>
                </div>
            </td>
        </ng-container>
        <tr [routerLink]="[row.id]" style="height: 80px!important" mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</ion-content>
