/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.header-row {
  padding-left: 25px;
  padding-right: 25px;
}

.resto-container {
  min-width: 400px;
  max-width: 800px;
  height: auto;
}

.resto-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.resto-desc {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-top: 3px;
}

.resto-group {
  padding-left: 24px;
}

.resto-header {
  margin: 20px auto;
  padding-left: 25px;
  padding-right: 25px;
}

.review-title {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.login-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  text-align: center;
}

.form-inputs {
  margin: 40px auto;
}

@import "./theme/variables.scss";
.active-link {
  color: purple;
  font-weight: bold;
}

.page-header {
  margin: 40px;
}

.page-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.full-width {
  width: 100%;
}

.table-row {
  height: 80px !important;
}