<ion-content>
    <div class="page-header" fxFlex="row" fxLayout="space-between">
        <div fxFlex fxLayoutAlign="flex-start center" class="page-title">USERS</div>
        <div fxFlex fxLayoutAlign="flex-end center">
            <button *ngIf="!addNew" mat-raised-button color="primary" (click)="add()">NEW</button>
        </div>
    </div>
    <form *ngIf="addNew" [formGroup]="newForm" fxFlex fxLayoutAlign="space-around center" fxLayoutGap="20px"
          (ngSubmit)="saveNew(newForm.value)">
        <mat-form-field>
            <input matInput type="text" placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Assign role" formControlName="role">
                <mat-option *ngFor="let r of roles" [value]="r.id">{{r.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!newForm.valid">SUBMIT</button>
            <button mat-button (click)="cancelAdd()">CANCEL</button>
        </div>
    </form>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <td mat-cell *matCellDef="let element">
                <div *ngIf="editing.id !== element.id">{{element.email}}</div>
                <div *ngIf="editing.id === element.id">
                    <mat-form-field>
                        <input matInput placeholder="Email" [(ngModel)]="editing.email"/>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <!-- Password Column -->
        <ng-container matColumnDef="password">
            <td mat-cell *matCellDef="let element">
                <div *ngIf="editing.id !== element.id"><i>Password hidden</i></div>
                <div *ngIf="editing.id === element.id">
                    <mat-form-field>
                        <input matInput placeholder="New password" [(ngModel)]="editing.password"/>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
            <td mat-cell *matCellDef="let element">
                <div *ngIf="editing.id !== element.id">{{element.role}}</div>
                <div *ngIf="editing.id === element.id">
                    <mat-form-field>
                        <mat-select placeholder="Assign role"
                                    [value]="null"
                                    [(ngModel)]="editing.role">
                            <mat-option *ngFor="let r of roles" [value]="r.id">{{r.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <td mat-cell *matCellDef="let element" class="ion-text-right">
                <div class="edit-btn-row">
                    <div *ngIf="editing.id !== element.id">
                        <button mat-button style="color: #5B5B5B" (click)="edit(element)">Edit</button>
                        <button mat-button color="warn" (click)="delete(element.id)">Delete</button>
                    </div>
                    <div *ngIf="editing.id === element.id">
                        <button mat-button style="color: #5B5B5B" (click)="cancelEdit()">Cancel</button>
                        <button mat-button style="color: #0071CE" (click)="update(editing)">Save</button>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr style="height: 80px!important" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</ion-content>
