<ion-content>
    <div class="page-header" fxFlex="row" fxLayout="space-between">
        <div fxFlex fxLayoutAlign="flex-start center" class="page-title">RESTOS</div>
        <div fxFlex fxLayoutAlign="flex-end center">
            <button *ngIf="!addNew" mat-raised-button color="primary" (click)="add()">NEW</button>
        </div>
    </div>
    <form *ngIf="addNew" [formGroup]="newForm" fxFlex fxLayoutAlign="space-around center" fxLayoutGap="20px"
          (ngSubmit)="saveNew(newForm.value)">
        <mat-form-field>
            <input matInput type="text" placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field style="min-width: 50%">
            <textarea mat-autosize matInput type="text" placeholder="Description"
                      formControlName="description"></textarea>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!newForm.valid">SUBMIT</button>
            <button mat-button (click)="cancelAdd()">CANCEL</button>
        </div>
    </form>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let element" class="name">
                <div *ngIf="editing.id !== element.id">{{element.name}}</div>
                <div *ngIf="editing.id === element.id">
                    <mat-form-field>
                        <input matInput placeholder="Name" [(ngModel)]="editing.name"/>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <td mat-cell *matCellDef="let element" class="show">
                <div *ngIf="editing.id !== element.id">{{element.description}}</div>
                <div *ngIf="editing.id === element.id">
                    <mat-form-field style="min-width: 50%">
                    <textarea mat-autosize matInput type="text"
                              placeholder="Description" style="vertical-align: bottom"
                              [(ngModel)]="editing.description">
                    </textarea>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <td mat-cell *matCellDef="let element" class="ion-text-right">
                <div class="edit-btn-row">
                    <div *ngIf="editing.id !== element.id">
                        <button mat-button style="color: #5B5B5B" (click)="edit(element)">Edit</button>
                        <button mat-button color="warn" (click)="delete(element.id)">Delete</button>
                    </div>
                    <div *ngIf="editing.id === element.id">
                        <button mat-button style="color: #5B5B5B" (click)="cancelEdit()">Cancel</button>
                        <button mat-button style="color: #0071CE" (click)="update(editing)">Save</button>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr style="height: 80px!important" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</ion-content>
