<div class="login-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div fxLayout="row">
        <div fxLayout class="login-title">Register</div>
    </div>
    <form [formGroup]="regForm" (ngSubmit)="register(regForm.value)">
        <div class="form-inputs">
            <ion-item>
                <ion-label position="floating"
                           [ngClass]="errorNames.indexOf('email') > -1 && submitted ? 'error-label' : ''">Email
                </ion-label>
                <ion-input type="email" name="email" formControlName="email" required></ion-input>
            </ion-item>
            <div class="error-label"
                 *ngIf="(regForm.controls['email'].invalid && (regForm.controls['email'].dirty || regForm.controls['email'].touched)) || (regForm.controls['email'].invalid && submitted)">
                <div *ngIf="regForm.controls['email'].errors.required">Please enter your email.</div>
                <div *ngIf="regForm.controls['email'].errors.email">Email is invalid.</div>
            </div>
            <ion-item>
                <ion-label position="floating"
                           [ngClass]="errorNames.indexOf('password') > -1 && submitted ? 'error-label' : ''">Password
                </ion-label>
                <ion-input type="password" name="password" formControlName="password">
                </ion-input>
            </ion-item>
            <div class="error-label"
                 *ngIf="(regForm.controls['password'].invalid && (regForm.controls['password'].dirty || regForm.controls['password'].touched)) || (regForm.controls['password'].invalid && submitted)">
                <div *ngIf="regForm.controls['password'].errors.required">Please enter your password.</div>
                <div *ngIf="regForm.controls['password'].errors.minlength">Minimum password length is 6 characters.
                </div>
            </div>
            <ion-item>
                <ion-label position="floating"
                           [ngClass]="errorNames.indexOf('rePassword') > -1 && submitted ? 'error-label' : ''">Confirm
                    Password
                </ion-label>
                <ion-input type="password" name="rePassword" formControlName="rePassword"
                           [pattern]="regForm.controls['password'].value"></ion-input>
            </ion-item>
            <div class="error-label"
                 *ngIf="(regForm.controls['rePassword'].invalid && (regForm.controls['rePassword'].dirty || regForm.controls['rePassword'].touched)) || (regForm.controls['password'].invalid && submitted)">
                <div *ngIf="regForm.controls['rePassword'].errors.required">Please confirm your password.</div>
                <div *ngIf="regForm.controls['rePassword'].errors.pattern">Passwords do not match.</div>
            </div>
            <ion-item>
                <ion-checkbox checked="false" formControlName="role"></ion-checkbox>
                <ion-label padding>ADMIN USER</ion-label>
            </ion-item>
        </div>
        <button mat-raised-button color="primary" float-end type="submit" (submit)="regForm">SIGN UP</button>
        <button mat-stroked-button (click)="logIn()">LOG IN</button>
    </form>
</div>
