<ion-content>
    <div class="resto-container" fxFlex>
        <div class="resto-header">
            <button mat-button [routerLink]="'/tabs/feed'">
                <mat-icon>keyboard_backspace</mat-icon>
                BACK TO RESTO LIST
            </button>
        </div>
    </div>
    <mat-list>
        <!--      general-->
        <mat-list-item>
            <div fxFlex="row" fxLayoutAlign="space-evenly center">
                <div class="resto-group">
                    <div class="resto-title">{{data.resto.name}}</div>
                    <div class="resto-desc">{{data.resto.description}}</div>
                </div>
                <div>
                    <ngx-input-star-rating disabled="true" [value]="data.resto.avg_rating"
                                           [(ngModel)]="data.resto.avg_rating"></ngx-input-star-rating>
                    <div class="resto-desc ion-text-center">Avg Rating</div>
                </div>
            </div>
        </mat-list-item>

        <div style="margin: 35px auto 50px">
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="!data.top" class="ion-text-center">
                <ion-col>Be the first to leave a review!</ion-col>
            </mat-list-item>
            <div *ngIf="data.top">
                <!--      top-->
                <mat-list-item>
                    <div class="ion-text-center" fxFlex="row" fxLayoutAlign="space-evenly center">
                        <ion-col class="review-title">Top Review</ion-col>
                        <ion-col>{{data.top.date | date}}</ion-col>
                        <ion-col>{{data.top.comments}}</ion-col>
                        <ion-col>
                            <ngx-input-star-rating disabled="true" [value]="data.top.rating"
                                                   [(ngModel)]="data.top.avg_rating"></ngx-input-star-rating>
                        </ion-col>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <!--      worst-->
                <mat-list-item>
                    <div class="ion-text-center" fxFlex="row" fxLayoutAlign="space-evenly center">
                        <ion-col class="review-title">Worst Review</ion-col>
                        <ion-col>{{data.bottom.date | date}}</ion-col>
                        <ion-col>{{data.bottom.comments}}</ion-col>
                        <ion-col>
                            <ngx-input-star-rating disabled="true" [value]="data.bottom.rating"
                                                   [(ngModel)]="data.bottom.avg_rating"></ngx-input-star-rating>
                        </ion-col>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <!--      recent-->
                <mat-list-item>
                    <div class="ion-text-center" fxFlex="row" fxLayoutAlign="space-evenly center">
                        <ion-col class="review-title">Recent Review</ion-col>
                        <ion-col>{{data.recent.date | date}}</ion-col>
                        <ion-col>{{data.recent.comments}}</ion-col>
                        <ion-col>
                            <ngx-input-star-rating disabled="true" [value]="data.recent.rating"
                                                   [(ngModel)]="data.recent.avg_rating"></ngx-input-star-rating>
                        </ion-col>
                    </div>
                </mat-list-item>
            </div>

            <mat-divider></mat-divider>
        </div>


        <!--      your review-->
        <mat-list-item>
            <div *ngIf="submitted && data.top">
                <ion-col class="ion-text-center">Thank you for your feedback!</ion-col>
            </div>
            <form *ngIf="!submitted || !data.top" [formGroup]="newForm" (ngSubmit)="saveNew(newForm.value)" fxFlex="row"
                  fxLayoutAlign="space-evenly center">
                <div class="review-title">Your Review</div>
                <app-custom-date-picker [label]="'Date of visit'" formControlName="date"></app-custom-date-picker>
                <mat-form-field>
                        <textarea matInput mat-autosize placeholder="Comments"
                                  formControlName="comments"></textarea>
                </mat-form-field>
                <div>
                    <ngx-input-star-rating formControlName="rating" [value]="0"></ngx-input-star-rating>
                    <div class="resto-desc" class="ion-text-center">Your Rating</div>
                </div>

                <button mat-raised-button color="primary" [disabled]="!newForm.valid">SUBMIT</button>
            </form>
        </mat-list-item>
    </mat-list>

</ion-content>
