<mat-form-field style="width:inherit">
    <input #customDatePickerControl
           matInput
           [formControl]="_formControl"
           [matDatepicker]="picker"
           [required]="required"
           [placeholder]="label"
           [max]="maxDate"
           (blur)="onBlur($event)"
           (dateChange)="onDateChange($event)">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="_formControl.invalid && (_formControl.dirty || _formControl.touched)">
        <div *ngIf="_formControl.errors['required'] && !_formControl.errors.matDatepickerParse">Required field</div>
        <div *ngIf="_formControl.errors['matDatepickerMax']">Date cannot be in the future</div>
        <div *ngIf="_formControl.errors['matDatepickerParse']">Not a valid date</div>
    </mat-error>
</mat-form-field>