<div class="login-container" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div fxLayout="row">
        <div fxLayout class="login-title">Log In</div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-inputs">
            <ion-item>
                <ion-label position="floating"
                           [ngClass]="errorNames.indexOf('email') > -1 && submitted ? 'error-label' : ''">Email
                </ion-label>
                <ion-input type="email" name="email" formControlName="email" required></ion-input>
            </ion-item>
            <div class="error-label"
                 *ngIf="(loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)) || (loginForm.controls['email'].invalid && submitted)">
                <div *ngIf="loginForm.controls['email'].errors.required">Please enter your email.</div>
                <div *ngIf="loginForm.controls['email'].errors.email">Email is invalid.</div>
            </div>
            <ion-item>
                <ion-label position="floating"
                           [ngClass]="errorNames.indexOf('password') > -1 && submitted ? 'error-label' : ''">Password
                </ion-label>
                <ion-input type="password" name="password" formControlName="password">
                </ion-input>
            </ion-item>
            <div class="error-label"
                 *ngIf="(loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)) || (loginForm.controls['password'].invalid && submitted)">
                <div *ngIf="loginForm.controls['password'].errors.required">Please enter your password.</div>
            </div>
        </div>
        <button mat-raised-button color="primary" float-end type="submit" (submit)="loginForm">LOG IN</button>
        <button mat-stroked-button (click)="signUp()">SIGN UP</button>

    </form>

</div>
