<ion-content>
    <div class="page-header" fxFlex="row" fxLayout="space-between">
        <div fxFlex fxLayoutAlign="flex-start center" class="page-title">REVIEWS</div>
        <div fxFlex fxLayoutAlign="flex-end center">
            <button *ngIf="!addNew" mat-raised-button color="primary" (click)="add()">NEW</button>
        </div>
    </div>
    <form style="width: 100%" *ngIf="addNew" [formGroup]="newForm" fxFlex="row" fxLayoutAlign="space-around center"
          (ngSubmit)="saveNew(newForm.value)">
        <!--  Restaurant  -->
        <div fxLayoutGap="10px">
            <mat-form-field>
                <mat-select placeholder="Choose a resto"
                            [value]="null"
                            formControlName="resto_id"
								            #selector>
                    <mat-option *ngFor="let r of restos" [value]="r.id">{{r.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!--      Date -->
            <app-custom-date-picker formControlName="date"></app-custom-date-picker>
            <!--        User-->
            <mat-form-field>
                <mat-select placeholder="Choose a user"
                            [value]="null"
                            formControlName="user_id"
								            #selector>
                    <mat-option *ngFor="let r of users" [value]="r.id">{{r.email}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <ngx-input-star-rating formControlName="rating"></ngx-input-star-rating>
        </div>
        <div fxLayoutGap="10px">
            <!--Comments-->
            <mat-form-field style="min-width: 50%">
            <textarea mat-autosize matInput type="text" placeholder="Comments"
                      formControlName="comments"></textarea>
            </mat-form-field>
        </div>
        <!--      Buttons-->
        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!newForm.valid">SUBMIT</button>
            <button mat-button (click)="cancelAdd()">CANCEL</button>
        </div>
    </form>
    <!--    OLD TABLE-->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
        <!-- username Column -->
        <ng-container matColumnDef="name">
            <td mat-cell *matCellDef="let element">
                <div *ngIf="editing.id !== element.id">{{element.email}}</div>
                <div *ngIf="editing.id === element.id">
                    <mat-form-field>
                        <mat-select placeholder="Choose a user"
                                    [value]="null"
                                    [(ngModel)]="editing.user_id">
                            <mat-option *ngFor="let r of users" [value]="r.id">{{r.email}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <!--        Restaurant-->
        <ng-container matColumnDef="resto_id">
            <td mat-cell *matCellDef="let element" class="show">
                <div *ngIf="editing.id !== element.id">{{element.name}}</div>
                <div *ngIf="editing.id === element.id">
                    <mat-form-field>
                        <mat-select placeholder="Choose a resto"
                                    [value]="element.resto_id"
                                    [(ngModel)]="editing.resto_id">
                            <mat-option *ngFor="let r of restos" [value]="r.id">{{r.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <td mat-cell *matCellDef="let element" class="show">
                <div *ngIf="editing.id !== element.id">{{element.date | date }}</div>
                <div *ngIf="editing.id === element.id">
                    <app-custom-date-picker [(ngModel)]="editing.date"></app-custom-date-picker>
                </div>
            </td>
        </ng-container>

        <!-- Comments Column -->
        <ng-container matColumnDef="comments">
            <td mat-cell *matCellDef="let element" class="show">
                <div *ngIf="editing.id !== element.id">{{element.comments}}</div>
                <div *ngIf="editing.id === element.id">
                    <mat-form-field style="min-width: 50%">
                    <textarea mat-autosize matInput type="text"
                              placeholder="Description" style="vertical-align: bottom"
                              [(ngModel)]="editing.comments">
                    </textarea>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>

        <!-- Rating Column -->
        <ng-container matColumnDef="rating">
            <td mat-cell *matCellDef="let element" class="show">
                <ngx-input-star-rating (click)="editing.rating = element.rating"
                                       [disabled]="(editing.id !== element.id)"
                                       [(ngModel)]="element.rating">
                </ngx-input-star-rating>
            </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <td mat-cell *matCellDef="let element" class="ion-text-right">
                <div class="edit-btn-row">
                    <div *ngIf="editing.id !== element.id">
                        <button mat-button style="color: #5B5B5B" (click)="edit(element)">Edit</button>
                        <button mat-button color="warn" (click)="delete(element.id)">Delete</button>
                    </div>
                    <div *ngIf="editing.id === element.id">
                        <button mat-button style="color: #5B5B5B" (click)="cancelEdit()">Cancel</button>
                        <button mat-button style="color: #0071CE" (click)="update(editing)">Save</button>
                    </div>
                </div>
            </td>
        </ng-container>
        <tr style="height: 80px!important" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</ion-content>
